<div class="container">
    <div class="card">
        <div class="card-header ch-alt m-b-20">
            <h2>Cash Balance Report
                <small>Cash Details</small>
                <br> </h2>
                <!--<label>From</label>&nbsp;&nbsp;
                <input type="text" name="joiningDate1" ng-model="fromDateCashCollection" ng-change="fromDateCashCollection" ng-focus="joiningDate1=true" ng-click="joiningDate1=true"
                       uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate1" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" >-->

       <form class="pmbb-edit" name="CashForm" novalidate>

           <div class="card-body card-padding">
               <div class="row">
                   <div class="col-sm-3 m-b-20">
                       <div class="form-group fg-line"
                            ng-class="{ 'has-error': CashForm.joiningDate1.$touched && CashForm.joiningDate1.$invalid }" >
                           <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>From Date</label>
                           <input type="text" name="joiningDate1" ng-model="cashCollection.fromDateCashCollection" ng-change="fromDateCashCollection" ng-focus="joiningDate1=true" ng-click="joiningDate1=true"
                                  uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate1" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" chars="none" required >
                           <span class="help-block"
                                 ng-messages="CashForm.joiningDate1.$error"
                                 ng-show="CashForm.joiningDate1.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                       </div>
                   </div>

                   <div class="col-sm-3 m-b-20">
                       <div class="form-group fg-line"
                            ng-class="{ 'has-error': CashForm.joiningDate2.$touched && CashForm.joiningDate2.$invalid }" >
                           <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>To Date</label>
                           <input type="text" name="joiningDate2" ng-model="cashCollection.toDateCashCollection" ng-change="toDateCashCollection" ng-focus="joiningDate2=true" ng-click="joiningDate2=true"
                                  uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate2" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" chars="none" required >
                           <span class="help-block"
                                 ng-messages="CashForm.joiningDate2.$error"
                                 ng-show="CashForm.joiningDate2.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                       </div>
                   </div>

                   <div class="col-sm-3 m-b-20">
                       <div class="form-group fg-line">
                           <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Registration Centres</label>
                           <select chosen class="form-control"
                                   ng-options="RegistrationCenter as RegistrationCenter.location for RegistrationCenter in RegistrationCenters"
                                   ng-model="location"
                                   ng-change="selectedRegistrationCenters(location)" required>
                           </select>
                       </div>
                   </div>


               </div>
               <button type="button" class="btn btn-icon-text btn-success waves-effect"
                       ng-click="sendDetails()" ng-disabled="CashForm.$invalid">
                   <i class="zmdi zmdi-save"></i> Generate Report
               </button>
               <button type="button" class="btn btn-icon-text btn-success waves-effect"
                       ng-disabled="CashForm.$invalid" >
                   <i class="zmdi zmdi-eye"></i>
                   <a ui-sref="admin.accounts.bankcashdeposits.totalcash-report-print" style="color: white">Print Report</a>
               </button>
           </div>

               <!-- <dl class="dl-horizontal required">
                    <dt class="p-t-10">From</dt>
                    <dd>
                        <div class="fg-line"
                             ng-class="{ 'has-error': CashForm.joiningDate1.$touched && CashForm.joiningDate1.$invalid }">
                            <input type="text" name="joiningDate1" ng-model="cashCollection.fromDateCashCollection" ng-change="fromDateCashCollection" ng-focus="joiningDate1=true" ng-click="joiningDate1=true"
                                   uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate1" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                            <span class="help-block"
                                  ng-messages="CashForm.joiningDate1.$error"
                                  ng-show="CashForm.joiningDate1.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                        </div>
                    </dd>
                </dl>-->


                <!--<br>-->
                <!--<label>To</label>
                <input type="text" name="joiningDate2" ng-model="toDateCashCollection"  ng-change="toDateCashCollection" ng-focus="joiningDate2=true" ng-click="joiningDate2=true"
                       uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate2" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" >-->
         <!--  <dl class="dl-horizontal required">
               <dt class="p-t-10">To</dt>
               <dd>
                   <div class="fg-line"
                        ng-class="{ 'has-error': CashForm.joiningDate2.$touched && CashForm.joiningDate2.$invalid }">
                       <input type="text" name="joiningDate2" ng-model="cashCollection.toDateCashCollection" ng-change="toDateCashCollection" ng-focus="joiningDate2=true" ng-click="joiningDate2=true"
                              uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate2" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                       <span class="help-block"
                             ng-messages="CashForm.joiningDate2.$error"
                             ng-show="CashForm.joiningDate2.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                   </div>
               </dd>
           </dl>-->

                <!--<br>-->

          <!-- <dl class="dl-horizontal required">
               <dt class="p-t-10">Registration Centres</dt>
               <dd>
                   <div class="fg-line">
                      &lt;!&ndash; <select chosen class="form-control" ng-model="cashCollection.RegCentre"
                               name="RegCentre"  placeholder="eg. Registration Centre" required >
                           <option ng-value="RegistrationCentre1">Registration Centre1</option>
                           <option ng-value="RegistrationCentre2">Registration Centre2</option>
                           <option ng-value="RegistrationCentre3">Registration Centre3</option>
                           <option ng-value="RegistrationCentre4">Registration Centre4</option>
                           <option ng-value="RegistrationCentre5">Registration Centre5</option>
                       </select>&ndash;&gt;
                       <select chosen class="form-control"
                               ng-options="RegistrationCenter as RegistrationCenter.location for RegistrationCenter in RegistrationCenters"
                               ng-model="RegCenter"
                               ng-change="selectedRegistrationCenters(RegCenter)" required>
                       </select>
                   </div>
               </dd>
           </dl>-->
           <!--<br>-->
               <!-- <button type="button" class="btn btn-icon-text btn-success waves-effect" ng-click="">
                    <i class="zmdi zmdi-save"></i> Get Details
                </button>-->
          <!-- <button type="button" class="btn btn-icon-text btn-success waves-effect"
                   ng-click="sendDetails()" ng-disabled="CashForm.$invalid">
               <i class="zmdi zmdi-save"></i> Get Details
           </button>-->
<!--<p><h2>You have chosen : From Date - {{cashCollection.fromDateCashCollection | date : dd/MM/YYYY}} </h2> <h2>To Date - {{cashCollection.toDateCashCollection | date : dd/MM/YYYY}}</h2> <h2>Registration Centre - {{cashCollection.RegCentre}}</h2></p>-->
            </form>

        </div>
        <div class="card-body">

            <div class="table-responsive" >
                <table ng-table="" class="table table-striped table-vmiddle" show-filter="true">
                    <tr ng-repeat="member in $data">
                        <td>
                            <img ng-src="{{member.profilePicUrl}}" style="width: 40px;" class="img-rounded">
                        </td>
                        <td data-title="'Date'" filter="{ name: 'text'}" filter="{ lastName: 'text'}">
                            <a ui-sref="admin.members.edit({id: member._id})">{{member.Name}} {{member.lastName}}</a>
                        </td>
                        <td data-title="'Opening Balance'" filter="{ phoneNumber: 'text'}">
                            {{member.phoneNumber}}
                        </td>
                        <td data-title="'Collection'" filter="{ 'subscriptionType': 'text'}">
                            {{member.subscriptionType}}
                        </td>
                        <td data-title="'Refund'" filter="{ creditBalance: 'text'}">
                            &#8377; {{member.creditBalance}}
                        </td>
                        <td data-title="'Balance'" filter="{ creditBalance: 'text'}">
                            &#8377; {{member.creditBalance}}
                        </td>
                        <td data-title="'Deposit Status'" filter="{ creditBalance: 'text'}">
                            &#8377; {{member.creditBalance}}
                        </td>
                        <td data-title="'Deposited Amount'" filter="{ creditBalance: 'text'}">
                            &#8377; {{member.creditBalance}}
                        </td>
                        <td data-title="'Deposited Transaction ID'" filter="{ creditBalance: 'text'}">
                            &#8377; {{member.creditBalance}}
                        </td>
                        <td data-title="'Closing Balance'" filter="{ creditBalance: 'text'}">
                            &#8377; {{member.creditBalance}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



</div>


