
<div class="container">
    <div class="card">

       <!-- <div class="card-header ch-alt text-center">
            &lt;!&ndash; <img class="i-logo" src="img/demo/invoice-logo.png" alt="">&ndash;&gt;
            <h3>Green Wheel Ride</h3>
            <h2>Mysuru</h2>
        </div>
        <br>-->

        <div class="card-header ch-alt m-b-20">
            <h2>Total Cash Report
                <small>Cash Details</small>
                <br> </h2>
            <!--<label>From</label>&nbsp;&nbsp;
            <input type="text" name="joiningDate1" ng-model="fromDateCashCollection" ng-change="fromDateCashCollection" ng-focus="joiningDate1=true" ng-click="joiningDate1=true"
                   uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate1" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" >-->

            <form class="pmbb-edit" name="TotalCashReport"  novalidate>
               <!-- <dl class="dl-horizontal required">
                    <dt class="p-t-10">From</dt>
                    <dd>
                        <div class="fg-line"
                             ng-class="{ 'has-error': TotalCashReport.TotalCashFrom.$touched && TotalCashReport.TotalCashFrom.$invalid }">
                            <input type="text" name="TotalCashFrom" ng-model="totalCashInput.fromdate" ng-change="totalCashReportFrom" ng-focus="TotalCashFrom=true" ng-click="TotalCashFrom=true"
                                   uib-datepicker-popup="dd/MM/yyyy" is-open="TotalCashFrom" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                            <span class="help-block"
                                  ng-messages="TotalCashReport.TotalCashFrom.$error"
                                  ng-show="TotalCashReport.TotalCashFrom.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                        </div>
                    </dd>
                </dl>-->


                <!--<dl class="dl-horizontal required">
                    <dt class="p-t-10">To</dt>
                    <dd>
                        <div class="fg-line"
                             ng-class="{ 'has-error': TotalCashReport.TotalCashTo.$touched && TotalCashReport.TotalCashTo.$invalid }">
                            <input type="text" name="TotalCashTo" ng-model="totalCashInput.todate" ng-change="totalCashReportTo" ng-focus="TotalCashTo=true" ng-click="TotalCashTo=true"
                                   uib-datepicker-popup="dd/MM/yyyy" is-open="TotalCashTo" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                            <span class="help-block"
                                  ng-messages="TotalCashReport.TotalCashTo.$error"
                                  ng-show="TotalCashReport.TotalCashTo.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                        </div>
                    </dd>
                </dl>-->


                    <!--<dl class="dl-horizontal required">-->
                    <div class="card-body card-padding">
                        <div class="row">
                          <!--  <div class="col-sm-4">
                                <div class="input-group fg-float">
                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                    <div class="fg-line"
                                         ng-class="{ 'has-error': TotalCashReport.TotalCashFrom.$touched && TotalCashReport.TotalCashFrom.$invalid }" >
                                        <input type="text" placeholder="From Date" name="TotalCashFrom" ng-model="totalCashInput.fromdate" ng-change="totalCashReportFrom" ng-focus="TotalCashFrom=true" ng-click="TotalCashFrom=true"
                                               uib-datepicker-popup="dd/MM/yyyy" is-open="TotalCashFrom" show-button-bar="true" class="form-control" color="red" required >
                                        <span class="help-block"
                                              ng-messages="TotalCashReport.TotalCashFrom.$error"
                                              ng-show="TotalCashReport.TotalCashFrom.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                                       &lt;!&ndash; <input type="text" class="form-control">&ndash;&gt;
                                      &lt;!&ndash;  <label class="fg-label">From Date</label>&ndash;&gt;
                                    </div>
                                </div>
                            </div>-->

                            <div class="col-sm-3 m-b-20">
                                <div class="form-group fg-line"
                                     ng-class="{ 'has-error': TotalCashReport.TotalCashFrom.$touched && TotalCashReport.TotalCashFrom.$invalid }" >
                                    <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>From Date</label>
                                   <!-- <input type="text" class="form-control" data-input-mask="{mask: '00/00/0000'}" placeholder="eg: 23/05/2014">-->
                                    <input type="text"  name="TotalCashFrom" ng-model="totalCashInput.fromdate" ng-change="totalCashReportFrom" ng-focus="TotalCashFrom=true" ng-click="TotalCashFrom=true"
                                           uib-datepicker-popup="dd/MM/yyyy" is-open="TotalCashFrom" show-button-bar="true" class="form-control" color="red" chars="none" required >
                                    <span class="help-block"
                                          ng-messages="TotalCashReport.TotalCashFrom.$error"
                                          ng-show="TotalCashReport.TotalCashFrom.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                                </div>
                            </div>

                            <div class="col-sm-3 m-b-20">
                                <div class="form-group fg-line"
                                     ng-class="{ 'has-error': TotalCashReport.TotalCashTo.$touched && TotalCashReport.TotalCashTo.$invalid }" >
                                    <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>To Date</label>
                                    <!-- <input type="text" class="form-control" data-input-mask="{mask: '00/00/0000'}" placeholder="eg: 23/05/2014">-->
                                    <input type="text" name="TotalCashTo" ng-model="totalCashInput.todate" ng-change="totalCashReportTo" ng-focus="TotalCashTo=true" ng-click="TotalCashTo=true"
                                           uib-datepicker-popup="dd/MM/yyyy" is-open="TotalCashTo" show-button-bar="true" class="form-control" chars="none" required >
                                    <span class="help-block"
                                          ng-messages="TotalCashReport.TotalCashTo.$error"
                                          ng-show="TotalCashReport.TotalCashTo.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                                </div>
                            </div>

                            <div class="col-sm-3 m-b-20">
                                <div class="form-group fg-line">
                                    <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Registration Centres</label>
                                    <select chosen class="form-control"
                                            ng-options="RegistrationCenter as RegistrationCenter.location for RegistrationCenter in RegistrationCenters"
                                            ng-model="location"
                                            ng-change="selectedRegistrationCenters(location)">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                           <!-- <div class="col-sm-4">
                                <div class="input-group fg-float">
                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                    <div class="fg-line"
                                         ng-class="{ 'has-error': TotalCashReport.TotalCashTo.$touched && TotalCashReport.TotalCashTo.$invalid }">
                                        <input type="text" name="TotalCashTo" ng-model="totalCashInput.todate" ng-change="totalCashReportTo" ng-focus="TotalCashTo=true" ng-click="TotalCashTo=true"
                                               uib-datepicker-popup="dd/MM/yyyy" is-open="TotalCashTo" show-button-bar="true" class="form-control" required >
                                        <span class="help-block"
                                              ng-messages="TotalCashReport.TotalCashTo.$error"
                                              ng-show="TotalCashReport.TotalCashTo.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                                        <label class="fg-label">To Date</label>
                                    </div>
                                </div>
                            </div>-->
                            <button type="button" class="btn btn-icon-text btn-success waves-effect"
                                    ng-click="sendTotalCashDetails()" ng-disabled="TotalCashReport.$invalid">
                                <i class="zmdi zmdi-view-list"></i> Generate Report
                            </button>
                            <button type="button" class="btn btn-icon-text btn-success waves-effect"
                                    ng-disabled="TotalCashReport.$invalid" >
                                <i class="zmdi zmdi-eye"></i>
                                <a ui-sref="admin.accounts.bankcashdeposits.totalcash-report-print" style="color: white">Print Report</a>
                            </button>


                  <!--  </dl>-->
               <!-- <button type="button" class="btn btn-icon-text btn-success waves-effect"
                        ng-click="sendTotalCashDetails()" ng-disabled="TotalCashReport.$invalid">
                    <i class="zmdi zmdi-save"></i> Get Details
                </button>
                <button type="button" class="btn btn-icon-text btn-success waves-effect"
                        ng-click="MyFunction()" ng-disabled="TotalCashReport.$invalid" >
                    <i class="zmdi zmdi-save"></i> Download
                </button>-->

                </div>
            </form>
        </div>

        <div class="card-body">
            <div class="table-responsive" >
                <table ng-table="totalCashTable" class="table table-striped table-vmiddle" show-filter="true">
                    <tr ng-repeat="cashTotals in $data">
                        <td>
                            <img ng-src="{{member.profilePicUrl}}" style="width: 40px;" class="img-rounded">
                        </td>
                        <!--  <td data-title="'Deposit Date'" filter="{ name: 'text'}" filter="{ lastName: 'text'}">
                              <a ui-sref="admin.members.edit({id: member._id})">{{member.Name}} {{member.lastName}}</a>
                          </td>-->
                        <td data-title="'Date'" filter="{ date: 'text'}">
                            {{cashTotals.date | date : "dd MMM yy"}}
                        </td>
                        <td data-title="'POS Collection Amount'" filter="{ pos: 'text'}">
                            {{cashTotals.pos}}
                        </td>
                        <td data-title="'PG Collection Amount'" filter="{ gateway: 'text'}">
                            {{cashTotals.gateway}}
                        </td>
                        <td data-title="'Cash Collection Amount'" filter="{ 'cash': 'text'}">
                            {{cashTotals.cash}}
                        </td>
                        <td data-title="'Total'" filter="{ 'subscriptionType': 'text'}">
                            {{cashTotals.pos + cashTotals.gateway + cashTotals.cash }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
    </div>

<!--<button  class="btn btn-float bgm-red m-btn" print><i class="zmdi zmdi-print"></i></button>-->


