<div class="container">
    <div class="card">
        <div class="card-header ch-alt m-b-20">
            <h2>Manage Employees
                <small>Add, Edit or Delete Employees</small>
            </h2>
            <button class="btn bgm-blue btn-float waves-effect" uib-tooltip="Add New Employee" tooltip-placement="left"
                    ng-click="addNewEmployee()">
                <i class="zmdi zmdi-plus"></i>
            </button>
        </div>
        <div class="card-body">
            <div class="no-records-block" ng-if="employeesData.length == 0">
                <p class="text-muted">
                    It looks like there are no employees available. Start by <a ui-sref="admin.employees.add">adding a
                    new employee</a>.
                </p>
            </div>
            <div class="table-responsive" ng-if="employeesData.length > 0">
                <table ng-table="employeesTable" class="table table-striped table-vmiddle" show-filter="true">
                    <tr ng-repeat="employee in $data">
                        <td>
                            <img ng-src="{{employee.profilePicUrl}}" style="width: 40px;" class="img-rounded">
                        </td>
                        <td data-title="'Full Name'" filter="{ name: 'text'}" filter="{ lastName: 'text'}">
                            <a ui-sref="admin.employees.edit({id: employee._id})">{{employee.Name}}
                                {{employee.lastName}}</a>
                        </td>
                        <td data-title="'Email'" filter="{ 'email': 'text'}">
                            {{employee.email}}
                        </td>
                        <td data-title="'Phone'" filter="{ 'phoneNumber': 'text'}">
                            {{employee.phoneNumber}}
                        </td>
                        <td data-title="'Department'" filter="{ '_type': 'text'}">
                            {{employee._type}}
                        </td>
                        <td data-title="'Smart Cards'" filter="{ 'smartCardNumber': 'text'}">
                            {{employee.smartCardNumber}}
                        </td>
                     <!--   <td data-title="'Smart Cards'" filter="{ 'smartCardNumber': 'text'}">
                            <div class="fare-plan-chips">
                                <span class="fare-plan-chip" ng-repeat="card in employee.smartCardDetails"
                                      uib-tooltip="{{card.cardLevel}}">{{card.smartCardNumber}}</span>
                            </div>
                        </td>-->
                        <td data-title="'Status'"  class="text-center">
                            <span uib-tooltip="{{employee.status}}" tooltip-placement="top" ng-class="{
                             'status-color bgm-green': employee.status == 'Active',
                             'status-color bgm-red': employee.status == 'Inactive',
                             'status-color bgm-black': employee.status == 'Blocked'}">&nbsp;</span>
                        </td>
                        <td data-title="''" class="table-actions">
                            <ul class="actions">
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle class="dropdown-toggle">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="javascript:void(0);" ng-click="editEmployee(employee._id)">Edit</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" ng-click="changeEmployeeStatus(employee._id)">Change
                                                Status</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="employee-status-modal.html">
    <div class="modal-header">
        <h4 class="modal-title">Change Employee Status</h4>
    </div>
    <div class="modal-body">
        <form name="EmployeeStatus" novalidate></form>
        <dl class="dl-horizontal">
            <dt class="p-t-10 p-l-30">Status</dt>
            <dd>
                <div class="fg-line">
                    <select chosen name="status" ng-model="employee.status" placeholder-text-single="'Select Status'"
                            class="form-control w-100" required>
                        <option ng-value="1">Active</option>
                        <option ng-value="0">Inactive</option>
                        <option ng-value="-1">Blocked</option>
                    </select>
                </div>
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" type="button" ng-click="cancelEmployeeStatusChange()">Close</button>
        <button class="btn btn-link" type="button" ng-click="changeEmployeeStatus()">Save Changes</button>
    </div>
</script>
