<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a>
            <div class="profile-pic">
               <!-- <img src="assets/images/profile-pic.png" alt="{{Name}}">-->
            </div>
        <!--    <div class="profile-info">
                {{Name}}
            </div>-->
        </a>
      <!--  <ul class="main-menu">
            <li ng-class="{active: $state.includes('admin.profile.edit')}">
                <a ui-sref="admin.profile.edit"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
        </ul>-->
    </div>
    <ul class="main-menu">
    <li>
      <!--  <a ng-click="" type="file"><i class="zmdi zmdi-mood"></i> Change Profile Photo</a>-->
      <!--  <a href="" class="pmop-edit">
            <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
        </a>-->
       <!-- <a href="#"><i class="zmdi zmdi-camera"></i>Update Profile Picture</a>-->
      <!--  <script type="text/javascript">
            $("a").click(function() {
                // creating input on-the-fly
                var input = $(document.createElement('input'));
                input.attr("type", "file");
                input.trigger('click'); // opening dialog
                return false; // avoiding navigation
            });
        </script>-->
    </li>
    </ul>
    <ul class="main-menu">
        <li ng-class="{active: $state.includes('admin.home')}">
            <a ui-sref="admin.home.manage"><i class="zmdi zmdi-home"></i>Home</a>
        </li>
        <li ng-class="{active: $state.includes('admin.plans')}" ng-if="membershipid !== null && membershipid!=='' && membershipid!==undefined && _user_balance!==0">
            <a ui-sref="admin.plans.view-plans"><i class="glyphicon glyphicon-ok"></i> TopUp/Renew</a>
        </li>
        <li ng-class="{active: $state.includes('admin.plans')}" ng-if="membershipid===undefined && _user_balance === 0">
            <a ui-sref="admin.plans.view-plans"><i class="glyphicon glyphicon-ok"></i>Select Plan</a>
        </li>
        <li ng-class="{active: $state.includes('admin.payment-history')}">
            <a ui-sref="admin.payment-history.view-payments"><i class="glyphicon glyphicon-credit-card"></i> Payment</a>
        </li>
        <li ng-class="{active: $state.includes('admin.ride-history')}">
            <a ui-sref="admin.ride-history.view-history"><i class="zmdi zmdi-bike"></i> Ride </a>
        </li>
        <li ng-class="{active: $state.includes('admin.stations')}">
            <a ui-sref="admin.stations.view-stations"><i class="glyphicon glyphicon-map-marker"></i> Docking Stations Map</a>
        </li>
        <li ng-class="{active: $state.includes('admin.change-password')}">
            <a ui-sref="admin.change-password.manage"><i class="zmdi zmdi-lock"></i> Change Password</a>
        </li>
        <li ng-class="{active: $state.includes('admin.feedback')}">
            <a ui-sref="admin.feedback.manage"><i class="glyphicon glyphicon-envelope"></i> Feedback</a>
        </li>
        <li ng-class="{active: $state.includes('admin.help')}">
            <a href="http://www.mytrintrin.com/?page_id=4308" target="_blank"><i class="glyphicon glyphicon-question-sign"></i> Help</a>
        </li>
        <li ng-class="{active: $state.includes('admin.members')}">
            <a href="javascript:void(0);" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
        </li>
    </ul>
</div>