<div class="container">
    <div class="block-header">
        <h2>View Tickets
            <small>Add all required details with fields marked as * are
                mandatory
            </small>
        </h2>
        <div class="actions m-t-10">
            <button type="button" class="btn btn-icon-text btn-default waves-effect m-r-5"
                    ng-click="cancelTicketDetails();">
                <i class="zmdi zmdi-arrow-left"></i> Back to List
            </button>
        </div>
    </div>


    <div class="card">
        <div class="ch-alt m-b-0">
            &nbsp;<label>Subject :&nbsp;</label> <b><span ng-bind="RaisedTicket.subject"> </span></b> |  <label>Status:&nbsp;</label> <b><span ng-bind="RaisedTicket.status"></span></b> <br>
            &nbsp;<label>On:&nbsp;</label><label style="font-weight: bold" ng-bind="RaisedTicket.ticketdate | date:'dd MMM yy'"></label>&nbsp;|&nbsp;
            <label>Ticket No: </label><b><span ng-bind="'UT'+RaisedTicket.uuId"></span></b>
            <br>

            <div class="pmb-block">
                <div class="pmbb-header m-t-30">

                    <dl class="dl-horizontal">
                        <dt class="p-l-30">Description</dt>
                        <dd>
                            <div class="fg-line">
                                <textarea name="comments"
                                          ng-model="RaisedTicket.description" class="form-control"
                                          rows="4" disabled>
                            </textarea>
                            </div>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt class="p-l-30">Replies</dt>
                        <dd>
                            <div class="fg-line" ng-repeat="reply in ReplyDescriptions">
                                <textarea name="comments"
                                   ng-model="reply.description" class="form-control"
                                   rows="4" style="border-width: 2px;border-style: inset" disabled>
                            </textarea>
                                By &nbsp;<b><span>{{reply.replierId.Name}}</span></b>&nbsp;On&nbsp;<b><span>{{reply.replydate | date:'dd MMM yy'}}</span></b>
                                <br>
                                <br>
                            </div>
                        </dd>
                    </dl>

                </div>
            </div>

            <form class="pmbb-edit" name="ReplyForTickets">
                <dl class="dl-horizontal required" ng-if="RaisedTicket.status=='Open'">
                    <dt class="p-l-30">Reply</dt>
                    <dd>
                        <div class="fg-line">
                                        <textarea name="comments"
                                                  ng-model="replyDetails.description" class="form-control"
                                                  rows="4" required>
                            </textarea>
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal" ng-if="RaisedTicket.status=='Open'">
                    <dt class="p-l-30">Status</dt>
                    <dd>
                        <div class="fg-line">
                            <select chosen class="form-control" ng-model="replyDetails.status"
                                    data-placeholder-text-single="'Select Status'"
                                    name="Status">
                                <option value="Close">Open</option>
                                <option value="Close">Close</option>
                            </select>
                        </div>
                    </dd>
                </dl>

                <div style="margin-left: 180px">
                    <button type="button" class="btn btn-icon-text btn-success waves-effect"
                            ng-click="addReply()" ng-disabled="ReplyForTickets.$invalid" ng-if="RaisedTicket.status=='Open'">
                        <i class="zmdi zmdi-save"></i> Reply
                    </button>
                </div>
            </form>

        </div>


        <br>
    </div>
</div>