<html ng-app="myApp1">
<head>
    <title>Change Password demo</title>

<style>
    .submit {
        width: 10%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
    <script src="../../assets/js/angular.min.js"></script>
    <script src="../../assets/js/angular-md5.js"></script>

</head>
<body ng-controller="test1">
<form name="registration1">
    <ul class="header-inner clearfix ">
        <!--<img src="../assets/images/trintrin.jpg"  style="margin-left: 560px;height:150px;width:150px"/>-->

        <img src="../../assets/images/trintrin.jpg" style="margin-left: 560px;height:150px;width:150px"/></ul>

    <label style="color:maroon;font-weight: bold;font-size:x-large;margin-left: 585px">Reset Password</label><br>
    <br>
    <div style="text-align: center">
       <!-- <h3 style="font-size: 28px">{{password}}</h3>-->
        <h3><span style="font-size: 20px">New Password:</span></h3>
        <input type="password" name="password1" ng-model="password1" required
               ng-init="password_error_shows=0"
               ng-focus="password_error_shows=1"
               ng-change="password_error_shows = password_error_shows + 1;changepassword1()"
               style="font-size: 25px">

        <div style="color: #ff0000" ng-show="!passValidation1 && password_error_shows>0">
         <!--   <div>Please enter your password</div>-->
            <div style="margin-left: 24px;">
                password must be alphanumeric , one lower , upper letter and one special character.
            </div>
            <div style="margin-left: 6em">
                password length minimum 6 characters
            </div>
        </div>

        <h3><span style="font-size: 20px">Confirm Password:</span></h3>
        <input type="password" name="cpassword1"
               ng-model="cpassword1"
               required
               ng-init="cpassword_error_shows=0"
               ng-focus="cpassword_error_shows=1"
               ng-change="cpassword_error_shows = cpassword_error_shows + 1;changepassword1()"
               style="font-size: 25px">
        <p>
            <span style="color: #ff0000;margin-left: -0.5em" ng-show="cpassword_error_shows>0 && password1 !== cpassword1">Password Mismatch</span>
            <span style="color: #3c823f;margin-left: -2.5em" ng-show="cpassword_error_shows>0 && password1 === cpassword1 && passValidation1">Password match</span>
        </p>

        <button type="button" class="submit"
                 ng-disabled="registration1.$invalid" ng-click="change()">
            <i class="zmdi zmdi-view-list"></i> Submit
        </button>

    </div>
</form>
</body>

<script>
    var app=angular.module('myApp1',['angular-md5']);
    app.controller("test1",function ($scope,md5) {
        $scope.passValidation1=false;
        $scope.changepassword1=function () {
            var regexp1=/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9:@#$%^&*]{6,20}$/;
            if(regexp1.test1($scope.password1)==false)
            {
                $scope.passValidation1=false;
            }
            else {
                $scope.passValidation1=true;
            }
        };

       /* var url = $location.url();
        var id = url.substring(url.indexOf("key/") + "key/".length);
        alert(id);*/

        var _hash = md5.createHash($scope.password || '');

        $scope.change=function (response) {
            alert($scope.password1);
            alert(_hash);
            $urlRouterProvider
        }
    });
</script>
</html>