
<div class="container">

    <div class="card">


        <div class="card-header ch-alt m-b-20">
            <h2>Feedback/Message</h2>

                <br>

            <form class="pmbb-edit" name="Feedback">

                <div class="pmbb-body p-l-30">

                              <!--  <div class="fg-line">
                                    <input type="" name="description"
                                           ng-model="FeedbackDetails.description"
                                           class="form-control" chars="letters" required >
                                </div>-->

                    <div class="fg-line">
                    <textarea name="description"
                              ng-model="FeedbackDetails.description" class="form-control"
                              rows="4"
                              placeholder="" chars="only-letters" required>
                    </textarea>
                    </div>

                    <br>
                    <br>
                    <button type="button" class="btn btn-icon-text btn-success waves-effect"
                            ng-click="userfeedback()" ng-disabled="Feedback.$invalid">
                        <i class="zmdi zmdi-view-list"></i> Submit
                    </button>
                </div>



            </form>
        </div>
    </div>
</div>




