<div class="container">

    <div class="block-header">
        <h2>EDIT SMART CARD
            <small>Edit all required details with fields marked as * are mandatory
            </small>
        </h2>
        <div class="actions m-t-10">
            <button type="button" class="btn btn-icon-text btn-default waves-effect m-r-5"
                    ng-click="cancelUpdateSmartCard()">
                <i class="zmdi zmdi-arrow-left"></i> Back to List
            </button>
            <button type="button" class="btn btn-icon-text btn-success waves-effect"
                    ng-click="updateSmartCard();" ng-disabled="EditSmartCard.$invalid">
                <i class="zmdi zmdi-save"></i> Update
            </button>
        </div>
    </div>

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <div class="fileinput fileinput-new">
                        <div class="fileinput-preview thumbnail">
                            <img src="assets/images/no-maps.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pm-body clearfix">
            <form class="pmbb-edit" name="EditSmartCard">
                <div class="pmb-block">
                    <div class="pmbb-header m-t-15">
                        <h2><i class="zmdi zmdi-card m-r-10"></i>Smart Card Information</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Card Number</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': EditSmartCard.cardNumber.$touched && EditSmartCard.cardNumber.$invalid }">
                                    <input type="text" name="cardNumber" ng-model="smartCard.cardNumber"
                                           class="form-control"
                                           placeholder="eg. 8989831293" maxlength="6" chars="number" required>
                                            <span class="help-block"
                                                  ng-messages="EditSmartCard.cardNumber.$error"
                                                  ng-show="EditSmartCard.cardNumber.$touched">
                                                <small ng-message="required">Card Number is required</small>
                                            </span>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Card RFID</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': EditSmartCard.cardRFID.$touched && EditSmartCard.cardRFID.$invalid }">
                                    <input type="text" name="cardRFID" ng-model="smartCard.cardRFID"
                                           class="form-control"
                                           placeholder="eg. 8989831293" chars="only-letters" maxlength="16" required>
                                    <span class="help-block"
                                          ng-messages="EditSmartCard.cardRFID.$error"
                                          ng-show="EditSmartCard.cardRFID.$touched">
                                                <small ng-message="required">Card RFID is required</small>
                                    </span>
                                </div>
                            </dd>
                        </dl>

                       <!-- <dl class="dl-horizontal">
                            <dt class="p-t-10">Card Type</dt>
                            <dd>
                                <div class="fg-line">
                                    <select chosen class="form-control" ng-model="smartCard.cardType"
                                            disabled
                                            name="cardType">
                                        <option value="Registered Member">Registered Member</option>
                                        <option value="Employee Card">Employee Card</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>-->

                       <!-- <dl class="dl-horizontal">
                            <dt class="p-t-10">Card Level</dt>
                            <dd>
                                <div class="fg-line">
                                    <select chosen class="form-control" ng-model="smartCard.cardLevel"
                                            disabled
                                            name="cardType">
                                        <option ng-if="smartCard.cardType == 'Employee Card'"
                                                value="Regular Employee Card">Regular Employee Card
                                        </option>
                                        <option value="Check Out Card">Check Out Card</option>
                                        <option ng-if="smartCard.cardType == 'Employee Card'" value="Port Close Card">
                                            Port Close Card
                                        </option>
                                        <option ng-if="smartCard.cardType == 'Employee Card'" value="Bicycle Lock Card">
                                            Bicycle Lock Card
                                        </option>
                                        <option ng-if="smartCard.cardType == 'Employee Card'" value="Port Ready Card">
                                            Port Ready Card
                                        </option>
                                    </select>
                                </div>
                            </dd>
                        </dl>-->

                        <!--<dl class="dl-horizontal required">
                            <dt class="p-t-10">Issuing Employee</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': EditSmartCard.issuedBy.$touched && EditSmartCard.issuedBy.$invalid }">
                                    <input type="text" name="cardNumber" ng-model="smartCard.issuedBy"
                                           class="form-control"
                                           placeholder="eg. ARUN" required>
                                            <span class="help-block"
                                                  ng-messages="EditSmartCard.issuedBy.$error"
                                                  ng-show="EditSmartCard.issuedBy.$touched">
                                                <small ng-message="required">Smart Card Issuing Employee Name is required</small>
                                            </span>
                                </div>
                            </dd>
                        </dl>-->

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>