<html ng-app="myApp">
<head>
    <title>Change Password demo</title>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="passwordstrength.js"></script>
    <script src="hash.js"></script>
<style>
    .submit {
        width: 10%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

</head>
<body ng-controller="test">
<form name="registration">
    <ul class="header-inner clearfix ">
        <img src="../assets/images/trintrin.jpg"  style="margin-left: 560px;height:150px;width:150px"/>
    </ul>

    <label style="color:maroon;font-weight: bold;font-size:x-large;margin-left: 585px">Forgot Password</label><br>
    <br>
    <div style="text-align: center">

        <label for="password">Password : </label>
        <input name="password" id="password" type="password"/>
        <span id="result"></span>

        <br>
        <br>
        <label for="confirmPassword">Confirm Password : </label>
        <input name="password" id="confirmPassword" type="password"/>
        <span id="confirmPasswordresult"></span>
      <!--  <h3><span style="font-size: 20px">New Password:</span></h3>-->

      <!--  <input type="password" name="password" ng-model="password" required
               ng-init="password_error_show=0"
               ng-focus="password_error_show=1"
               ng-change="password_error_show = password_error_show + 1;changepassword()"
               style="font-size: 25px">

        <div style="color: #ff0000" ng-show="!passValidation && password_error_show>0">
            <div style="margin-left: 24px;">
                password must be alphanumeric , one lower , upper letter and one special character.
            </div>
            <div style="margin-left: 6em">
                password length minimum 6 characters
            </div>
        </div>

        <h3><span style="font-size: 20px">Confirm Password:</span></h3>
        <input type="password" name="cpassword"
               ng-model="cpassword"
               required
               ng-init="cpassword_error_show=0"
               ng-focus="cpassword_error_show=1"
               ng-change="cpassword_error_show = cpassword_error_show + 1;changepassword()"
               style="font-size: 25px">
        <p>
            <span style="color: #ff0000;margin-left: -0.5em" ng-show="cpassword_error_show>0 && password !== cpassword">Password Mismatch</span>
            <span style="color: #3c823f;margin-left: -2.5em" ng-show="cpassword_error_show>0 && password === cpassword && passValidation">Password match</span>
        </p>-->
        <br>
        <button type="button" class="submit" id="btnSubmit"
                  onclick="testing()" >Submit
        </button>



    </div>
</form>
</body>

<script>
    var app=angular.module('myApp',['ngRoute','angular-md5']);
    app.controller("test",function ($scope,md5,$window) {
        $scope.passValidation=false;
        $scope.changepassword=function () {
            var regexp=/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9:@#$%^&*]{6,20}$/;
            if(regexp.test($scope.password)==false)
            {
                $scope.passValidation=false;
            }
            else {
                $scope.passValidation=true;
            }
        };
        var _hash = md5.createHash($scope.password || '');

        $scope.confirm=function (response) {
            $scope.testing={
                propertHash:_hash
            };
            alert($scope.password);
            alert(_hash);
           $window.location.href='http://www.google.com';
        }
    });

   window.onload = function() {
   };

       function testing () {

           var pass1=$('#password').val();
           var pass2=$('#confirmPassword').val();
           if(pass1 == "" || pass2=="")
           {
               return
           }
       /*    alert(pass1);*/
           params={};
           location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){params[k]=v})
           var _key = params["_ijt"];
           var _hash_password = md5(pass1);

           var URL = "http://43.251.80.79:13060/api/users/resetpassword/";

           var dataObject = { 'resetkey': _key, 'newPassword': _hash_password };

           alert(JSON.stringify(dataObject));

           $.ajax({
               url: URL,
               type: 'PUT',
               data: dataObject,
               dataType: 'json',
               success: function(result) {
                   alert("success?");
               }
           });
          /* $.put("http://43.251.80.79:13060/api/users/resetpassword",
               {
                   resetkey:_key ,
                   newpassword: _hash_password
               },
               function(data,status){
                   alert("Data: " + data + "\nStatus: " + status);
               });*/
          /* alert(params["rskey"]);
           alert(md5(pass1));*/
       };
</script>
</html>