<html ng-app="myApp">
<head>
    <title>Change Password demo</title>
    <script src="angular.min.js"></script>
    <script src="angular-md5.js"></script>
<style>
    .submit {
        width: 10%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>


</head>
<body ng-controller="test">
<form name="registration">
    <ul class="header-inner clearfix ">
        <img src="../assets/images/trintrin.jpg"  style="margin-left: 560px;height:150px;width:150px"/>
    </ul>

    <label style="color:maroon;font-weight: bold;font-size:x-large;margin-left: 585px">Forgot Password</label><br>
    <br>
    <div style="text-align: center">
       <!-- <h3 style="font-size: 28px">{{password}}</h3>-->
        <h3><span style="font-size: 20px">New Password:</span></h3>
        <input type="password" name="password" ng-model="password" required
               ng-init="password_error_show=0"
               ng-focus="password_error_show=1"
               ng-change="password_error_show = password_error_show + 1;changepassword()"
               style="font-size: 25px">

        <div style="color: #ff0000" ng-show="!passValidation && password_error_show>0">
         <!--   <div>Please enter your password</div>-->
            <div style="margin-left: 24px;">
                password must be alphanumeric , one lower , upper letter and one special character.
            </div>
            <div style="margin-left: 6em">
                password length minimum 6 characters
            </div>
        </div>

        <h3><span style="font-size: 20px">Confirm Password:</span></h3>
        <input type="password" name="cpassword"
               ng-model="cpassword"
               required
               ng-init="cpassword_error_show=0"
               ng-focus="cpassword_error_show=1"
               ng-change="cpassword_error_show = cpassword_error_show + 1;changepassword()"
               style="font-size: 25px">
        <p>
            <span style="color: #ff0000;margin-left: -0.5em" ng-show="cpassword_error_show>0 && password !== cpassword">Password Mismatch</span>
            <span style="color: #3c823f;margin-left: -2.5em" ng-show="cpassword_error_show>0 && password === cpassword && passValidation">Password match</span>
        </p>

        <button type="button" class="submit"
                 ng-disabled="registration.$invalid" ng-click="confirm()">
            <i class="zmdi zmdi-view-list"></i> Submit
        </button>

    </div>
</form>
</body>

<script>
    var app=angular.module('myApp',['angular-md5']);
    app.controller("test",function ($scope,md5,$window) {
        $scope.passValidation=false;
        $scope.changepassword=function () {
            var regexp=/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9:@#$%^&*]{6,20}$/;
            if(regexp.test($scope.password)==false)
            {
                $scope.passValidation=false;
            }
            else {
                $scope.passValidation=true;
            }
        };

        var _hash = md5.createHash($scope.password || '');

        $scope.confirm=function (response) {
            alert($scope.password);
            alert(_hash);

           $window.location.href='http://www.google.com';
        }
    });
</script>
</html>