<script>
    window.onload = function() {
        var d = new Date().getTime();
        document.getElementById("tid").value = d;
    };
</script>

<div class="container">

    <div class="card" >
        <div class="card-header ch-alt m-b-20" style="background-color:#5cb85c; color:white;" >
            <i class="fa fa-bell fa-fw"></i> <b>Select a plan below to make online payment. </b>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Select a Plan</h2>
        </div>

        <div class="table-responsive">
            <table ng-table="membershipTable" class="table table-striped table-vmiddle" show-filter="false">
                <tr ng-repeat="plans in membershipData">
                    <td data-title="'Select'">
                        <form method="POST" name="customerData" action="http://www.mytrintrin.com/portal/ccavRequestHandler.php">
                            <input type="hidden"  name="amount" value="{{plans.userFees + plans.securityDeposit + plans.smartCardFees}}" />
                            <input type="hidden" name="currency" value="INR" />
                            <input type="hidden" name="merchant_param1" value="{{uid}}"/>
                            <input type="hidden" name="merchant_param2" value="{{plans.subscriptionType}}"/>
                            <input type="hidden" name="merchant_param3" value="NewMember"/>
                            <input type="hidden" name="tid" id="tid" readonly />
                            <input type="hidden" name="merchant_id" value="96478"/>
                            <input type="hidden" name="order_id" value="{{orderid}}"/>
                            <input type="hidden" name="currency" value="INR"/>
                            <input type="hidden" name="redirect_url" value="http://www.mytrintrin.com/portal/ccavResponseHandler.php"/>
                            <input type="hidden" name="cancel_url" value="http://www.mytrintrin.com/portal/ccavResponseHandler.php"/>
                            <input type="hidden" name="language" value="EN"/>
                            <input type="hidden" name="billing_name" value=""/>
                            <input type="hidden" name="billing_tel" value=""/>
                            <input type="hidden" name="billing_email" value=""/><!--</td>-->
                            <!--<td>-->
                            <!-- <input type = "submit" class="btn btn-icon-text btn-success waves-effect" value ="Select Plan">-->
                            <button type="submit"  class="btn btn-icon-text btn-success waves-effect" value ="Select Plan">Select</button>
                            <!--                    </td>-->
                            <!--
                                                <input type = "submit" class="btn btn-icon-text btn-success waves-effect" value ="Select Plan">
                            -->
                            <!-- <button ng-click="Selectplan($event)" value="{{plans._id}}" class="btn btn-icon-text btn-success waves-effect"> Select </button>-->
                        </form>
                    </td>
                    <td data-title="'Plan'">
                        {{plans.subscriptionType}}
                    </td>
                    <td data-title="'Validity'">
                        {{plans.validity}}
                    </td>
                    <td data-title="'Fees'">
                         {{plans.userFees}}
                    </td>
                    <td data-title="'Deposit'">
                        {{plans.securityDeposit}}
                    </td>
                    <td data-title="'Card Fees'">
                         {{plans.smartCardFees}}
                    </td>
                    <td data-title="'Processing'" >
                        {{plans.processingFees}}
                    </td>
                    <td data-title="'Total'">
                        {{plans.userFees + plans.securityDeposit + plans.smartCardFees  }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="Error-popup.html">
    <div class="modal-header">
        <h4 class="modal-title">Message</h4>
    </div>
    <div class="modal-body">
        <h3><p>Payment gateway procedure is under process</p></h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" type="button" ng-click="ok();">OK</button>
    </div>
</script>
