
<div class="container">
    <div class="card">
        <div class="card-header ch-alt m-b-20">
            <h2>Docking Station Cleaning Report
                <small>Cleaning Details</small>
                <br> </h2>
            <form class="pmbb-edit" name="DockingStationCleaningReport"  novalidate>
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line"
                                 ng-class="{ 'has-error': DockingStationCleaningReport.CleanDateFrom.$touched && DockingStationCleaningReport.CleanDateFrom.$invalid }" >
                                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>From Date</label>
                                <input type="text"  name="CleanDateFrom" ng-model="DockingStationCleanReportInputs.fromdate" ng-change="CleanDateFrom" ng-focus="CleanDateFrom=true" ng-click="CleanDateFrom=true"
                                       uib-datepicker-popup="dd/MM/yyyy" is-open="CleanDateFrom" show-button-bar="true" class="form-control" color="red" required >
                                <span class="help-block"
                                      ng-messages="DockingStationCleaningReport.CleanDateFrom.$error"
                                      ng-show="DockingStationCleaningReport.CleanDateFrom.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                            </div>
                        </div>

                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line"
                                 ng-class="{ 'has-error': DockingStationCleaningReport.CleanDateTo.$touched && DockingStationCleaningReport.CleanDateTo.$invalid }" >
                                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>To Date</label>
                                <input type="text" name="CleanDateTo" ng-model="DockingStationCleanReportInputs.todate" ng-change="CleanDateTo" ng-focus="CleanDateTo=true" ng-click="CleanDateTo=true"
                                       uib-datepicker-popup="dd/MM/yyyy" is-open="CleanDateTo" show-button-bar="true" class="form-control" required >
                                <span class="help-block"
                                      ng-messages="DockingStationCleaningReport.CleanDateTo.$error"
                                      ng-show="DockingStationCleaningReport.CleanDateTo.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                            </div>
                        </div>

                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line">
                                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Docking Station</label>
                                <select chosen class="form-control"
                                        ng-options="DockingStation as DockingStation.name for DockingStation in DockingStations"
                                        ng-model="location"
                                        ng-change="selectedDockingStation(location)">
                                    <option value="">All</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-icon-text btn-success waves-effect"
                            ng-click="sendCleanInputsDetails()" ng-disabled="DockingStationCleaningReport.$invalid">
                        <i class="zmdi zmdi-view-list"></i> Generate Report
                    </button>
                    <button type="button" class="btn btn-icon-text btn-success waves-effect"
                            ng-disabled="DockingStationCleaningReport.$invalid" >
                        <i class="zmdi zmdi-eye"></i>
                        <a ui-sref="admin.maintenance.dockingstationcleaning-report-print" style="color: white">Print Report</a>
                    </button>
                </div>
            </form>
        </div>

        <div class="card-body">
            <div class="table-responsive" >
                <table ng-table="totalCashTable" class="table table-striped table-vmiddle" show-filter="true">
                    <tr ng-repeat="cashTotals in $data">
                        <td>
                            <img ng-src="{{member.profilePicUrl}}" style="width: 40px;" class="img-rounded">
                        </td>
                        <td data-title="'Station name'" filter="{ date: 'text'}">
                          <!--  {{DockingStationClean.stationId.name}}-->
                        </td>
                        <td data-title="'Cleaned By'" filter="{ pos: 'text'}">
                           <!-- {{DockingStationClean.empId.Name}}-->
                        </td>
                        <td data-title="'Cleaned On'" filter="{ gateway: 'text'}">
                        <!--    {{DockingStationClean.cleaneddate | date}}-->
                        </td>
                        <td data-title="'Cleaning At'" filter="{ 'cash': 'text'}">
                           <!-- {{DockingStationClean.fromtime | date:'HH:mm'}}&nbsp;-&nbsp;{{DockingStationClean.totime | date:'HH:mm'}}-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



