
<div class="container">
    <div class="card">
        <div class="card-header ch-alt m-b-20">
            <h2>Change Password
                <small>Reset your password</small>
                <br> </h2>
            <form class="pmbb-edit" name="ReSetPassword">
                <div class="card-body card-padding">
                    <div class="row">

                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line"
                                 ng-class="{ 'has-error': ReSetPassword.oldPassword.$touched && ReSetPassword.oldPassword.$invalid }" >
                                <i class="zmdi zmdi-lock"></i>&nbsp;&nbsp;<label>Old Password</label>
                                <input type="text"  name="oldPassword" ng-model="user.oldpassword"
                                        class="form-control" required >
                                <span class="help-block"
                                      ng-messages="ReSetPassword.oldPassword.$error"
                                      ng-show="ReSetPassword.oldPassword.$touched">
                                                <small ng-message="required">Old password is required</small>
                                            </span>
                            </div>
                        </div>

                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line"
                                 ng-class="{ 'has-error': ReSetPassword.newPassword.$touched && ReSetPassword.newPassword.$invalid }" >
                                <i class="zmdi zmdi-lock"></i>&nbsp;&nbsp;<label>New Password</label>
                                <input type="password" name="EPassword" ng-model="user.password" required class="form-control" />
                                <span class="help-block"
                                      ng-messages="ReSetPassword.newPassword.$error"
                                      ng-show="ReSetPassword.newPassword.$touched">
                                                <small ng-message="required">New password is required</small>
                                            </span>
                            </div>
                        </div>

                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line"
                                 ng-class="{ 'has-error': ReSetPassword.confirmPassword.$touched && ReSetPassword.confirmPassword.$invalid }" >
                                <i class="zmdi zmdi-lock"></i>&nbsp;&nbsp;<label>Confirm Password</label>

                                <input type="password" name="ECPassword" ng-model="user.confirmPassword" required compare-to="EPassword" class="form-control" />
                                <span class="help-block"
                                      ng-messages="ReSetPassword.confirmPassword.$error"
                                      ng-show="ReSetPassword.confirmPassword.$touched">
                                                <small ng-message="required">Confirm password is required</small>
                                            </span>
                                <span class="error" ng-show="f1.ECPassword.$error.compareTo">
            Passwords don't match.
         </span>

                            </div>
                        </div>

                    </div>

                    <button type="button" class="btn btn-icon-text btn-success waves-effect"
                            ng-click="passwordChange()" >
                        <i class="zmdi zmdi-save"></i> Save
                    </button>

                </div>
            </form>
        </div>

    </div>
</div>




