<div class="container">
    <div class="block-header">
        <h2>CHANGE PASSWORD
            <small>Add all required details with fields marked as * are
                mandatory
            </small>
        </h2>
        <div class="actions m-t-10">
            <!-- <button type="button" class="btn btn-icon-text btn-default waves-effect m-r-5"
                     ng-click="cancelAddSmartCard();">
                 <i class="zmdi zmdi-arrow-left"></i> Back to List
             </button>-->

        </div>
    </div>

    <div class="card" id="profile-main">
       <!-- <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <div class="fileinput fileinput-new">
                        <div class="fileinput-preview thumbnail">
                            <img src="assets/images/no-maps.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

      <!--  <div class="pm-body clearfix">-->
            <form class="pmbb-edit" name="ResetPassword" novalidate>
                <div class="pmb-block">
                    <div class="pmbb-header m-t-15">
                        <h2><i class="zmdi zmdi-lock"></i> Change Password</h2>
                    </div>
                    <div class="pmbb-body p-l-30">

                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Old Password</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': ResetPassword.oldPassword.$touched && ResetPassword.oldPassword.$invalid }">
                                    <input type="text" name="oldPassword" ng-model="user.oldpassword"
                                           class="form-control"
                                           placeholder="" required>
                                    <span class="help-block"
                                          ng-messages="ResetPassword.oldPassword.$error"
                                          ng-show="ResetPassword.oldPassword.$touched">
                                                <small ng-message="required">old Password is required</small>
                                            </span>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">New Password</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': ResetPassword.newPassword.$touched && ResetPassword.newPassword.$invalid }">
                                    <input type="text" name="newPassword" ng-model="user.password"
                                           class="form-control"
                                           placeholder="" required>
                                    <span class="help-block"
                                          ng-messages="ResetPassword.newPassword.$error"
                                          ng-show="ResetPassword.newPassword.$touched">
                                                <small ng-message="required">new Password is required</small>
                                            </span>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Confirm Password</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': ResetPassword.confirmPassword.$touched && ResetPassword.confirmPassword.$invalid }">
                                    <input type="text" name="confirmPassword" ng-model="user.confirmPassword"
                                           class="form-control"
                                           placeholder="" required>
                                    <span class="help-block"
                                          ng-messages="ResetPassword.confirmPassword.$error"
                                          ng-show="ResetPassword.confirmPassword.$touched">
                                                <small ng-message="required">confirm Password is required</small>
                                            </span>
                                </div>
                            </dd>
                        </dl>

                        <br>
                        <button type="button" class="btn btn-icon-text btn-success waves-effect"
                                ng-click="resetNewPassword();" >
                            <i class="zmdi zmdi-save"></i> Save
                        </button>

                    </div>
                </div>
            </form>
      <!--  </div>-->
    </div>
</div>