<div class="container">
    <div class="block-header">
        <h2>EDIT TICKETS
            <small>Edit all required details with fields marked as * are mandatory
            </small>
        </h2>
        <div class="actions m-t-10">
            <button type="button" class="btn btn-icon-text btn-default waves-effect m-r-5"
                    ng-click="cancelUpdateTickets()">
                <i class="zmdi zmdi-arrow-left"></i> Back to List
            </button>
            <button type="button" class="btn btn-icon-text btn-success waves-effect"
                    ng-click="updateDockingStation()" ng-disabled="EditDockingStation.$invalid">
                <i class="zmdi zmdi-save"></i> Reply
            </button>
        </div>
    </div>

   <!-- <div class="card" id="profile-main">-->
       <!-- <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <div class="fileinput fileinput-new">
                        <div class="fileinput-preview thumbnail">
                            <ui-gmap-google-map center='dockingStationMap.center'
                                                zoom='dockingStationMap.zoom'></ui-gmap-google-map>
                        </div>
                    </div>
                </div>
                <div class="pmo-stat">
                    <h2 class="m-0 c-white">{{dockingStationStatus}}</h2>
                    Status
                </div>
            </div>
        </div>-->

        <div class="pm-body clearfix">
            <form class="pmbb-edit" name="EditTickets" novalidate>
                <div class="pmb-block">
                    <div class="pmbb-header m-t-15">
                        <h2><i class="zmdi zmdi-view-carousel m-r-10"></i>Tickets Information</h2>
                    </div>
                    <div class="pmbb-body p-l-30">

                        <!--<dl class="dl-horizontal required">
                            <dt class="p-t-10">Member Name</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': EditTickets.MemberName.$touched && EditTickets.MemberName.$invalid }">
                                    <input type="text" name="MemberName" ng-model="name"
                                           class="form-control"
                                           placeholder="eg. Ashok" required>
                                    <span class="help-block"
                                          ng-messages="EditTickets.MemberName.$error"
                                          ng-show="EditTickets.MemberName.$touched">
                                                <small ng-message="required">Member  Name is required</small>
                                            </span>
                                </div>
                            </dd>
                        </dl>-->

                       <!-- <dl class="dl-horizontal required">
                            <dt class="p-t-10">Ticket Subject</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': EditTickets.TicketSubject.$touched && EditTickets.TicketSubject.$invalid }">
                                    <input type="text" name="TicketSubject" ng-model="subject"
                                           class="form-control"
                                           placeholder="eg. Bicycle Problem" required>
                                    <span class="help-block"
                                          ng-messages="EditTickets.TicketSubject.$error"
                                          ng-show="EditTickets.TicketSubject.$touched">
                                                <small ng-message="required">Ticket Subject is required</small>
                                            </span>
                                </div>
                            </dd>
                        </dl>-->

                       <!-- <dl class="dl-horizontal required">
                            <dt class="p-t-10">Priority</dt>
                            <dd>
                                <div class="fg-line">
                                    <select chosen class="form-control" ng-model="ticketsDetails.priorityName"
                                            data-placeholder-text-single="'Select Type'"
                                            name="priorityName">
                                        <option value="0">SELECT THE OPTIONS</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Urgent">Urgent</option>
                                        <option value="Critical">Critical</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>-->

                        <!--<dl class="dl-horizontal required">
                            <dt class="p-t-10">Department</dt>
                            <dd>
                                <div class="fg-line">
                                    <select chosen class="form-control" ng-model="ticketsDetails.departmentName"
                                            data-placeholder-text-single="'Select Type'"
                                            name="departmentName">
                                        <option value="0">SELECT THE OPTIONS</option>
                                        <option value="Maitenance">Maitenance</option>
                                        <option value="Billing">Billing</option>
                                        <option value="IT">IT</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>-->


                      <!--  <dl class="dl-horizontal required">
                            <dt class="p-t-10">Type</dt>
                            <dd>
                                <div class="fg-line">
                                    <select chosen class="form-control" ng-model="ticketsDetails.type"
                                            data-placeholder-text-single="'Select Type'"
                                            name="type">
                                        <option value="0">SELECT THE OPTIONS</option>
                                        <option value="Type1">Type1</option>
                                        <option value="Type2">Type2</option>
                                        <option value="Type3">Type3</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>-->

                       <!-- <dl class="dl-horizontal required">
                            <dt class="p-t-10">Update Comments</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': EditTickets.UpdateComments.$touched && EditTickets.UpdateComments.$invalid }">
                                   &lt;!&ndash; <input type="text" name="UpdateComments" ng-model="comments"
                                           class="form-control" disabled
                                           placeholder="eg. Comments for the issue" required>&ndash;&gt;
                                   <textarea name="UpdateComments" ng-model="comments"
                                             class="form-control"
                                             placeholder="eg. Comments for the issue" required></textarea>
                                    <span class="help-block"
                                          ng-messages="EditTickets.UpdateComments.$error"
                                          ng-show="EditTickets.UpdateComments.$touched">
                                                <small ng-message="required">Update Comments is required</small>
                                            </span>
                                </div>
                            </dd>
                        </dl>-->


                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Comments</dt>
                            <dd>
                                <!--<div class="card-body card-padding">-->
                                   <!-- <p class="c-black f-500 m-b-20">Basic Example</p>-->

                                    <div class="form-group">
                                        <div class="fg-line">
                                            <textarea class="form-control" rows="5" placeholder="Let us type some lorem ipsum...."></textarea>
                                        </div>
                                    <!--</div>-->
                                    </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Assigned To</dt>
                            <dd>
                                <div class="fg-line">
                                    <select chosen class="form-control" ng-model="ticketsDetails.type"
                                            data-placeholder-text-single="'Select Type'"
                                            name="AssignedTo">
                                        <option value="0">SELECT THE OPTIONS</option>
                                        <option value="Employee1">Employee1</option>
                                        <option value="Employee2">Employee2</option>
                                        <option value="Employee3">Employee3</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Status</dt>
                            <dd>
                                <div class="fg-line">
                                    <select chosen class="form-control" ng-model="ticketsDetails.type"
                                            data-placeholder-text-single="'Select Type'"
                                            name="Status">
                                        <option value="0">SELECT THE OPTIONS</option>
                                        <option value="Open">Open</option>
                                        <option value="Hold">Hold</option>
                                        <option value="Close">Close</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Admin Comments</dt>
                            <dd>
                                <!--<div class="card-body card-padding">-->
                                <!-- <p class="c-black f-500 m-b-20">Basic Example</p>-->

                                <div class="form-group">
                                    <div class="fg-line">
                                        <textarea class="form-control" rows="5" placeholder="Let us type some lorem ipsum...."></textarea>
                                    </div>
                                    <!--</div>-->
                                </div>
                            </dd>
                        </dl>


                    </div>
                </div>
            </form>
        </div>
  <!--  </div>-->
</div>

<script type="text/ng-template" id="docking-station-status-modal.html">
    <div class="modal-header">
        <h4 class="modal-title">Change Docking Station Status</h4>
    </div>
    <div class="modal-body">
        <form name="DockingStationStatus" novalidate></form>
        <dl class="dl-horizontal">
            <dt class="p-t-10 p-l-30">Status</dt>
            <dd>
                <div class="fg-line">
                    <select chosen name="status" ng-model="dockingStation.status" placeholder-text-single="'Select Status'"
                            class="form-control w-100" required>
                        <option value="0">Operational</option>
                        <option value="1">Non Operational</option>
                    </select>
                </div>
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" type="button" ng-click="cancelDockingStationStatusChange()">Cancel</button>
        <button class="btn btn-link" type="button" ng-click="changeStationStatus()">Update</button>
    </div>
</script>