<div class="container">
    <div class="block-header">
        <h2>ADD DOCKING PORT
            <small>Add all required details with fields marked as * are
                mandatory
            </small>
        </h2>
        <div class="actions m-t-10">
            <button type="button" class="btn btn-icon-text btn-default waves-effect m-r-5"
                    ng-click="cancelAddDockingPort();">
                <i class="zmdi zmdi-arrow-left"></i> Back to List
            </button>
            <button type="button" class="btn btn-icon-text btn-success waves-effect"
                    ng-click="saveDockingPort();" ng-disabled="AddDockingPort.$invalid">
                <i class="zmdi zmdi-save"></i> Save
            </button>
        </div>
    </div>

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="line-height: 239px;">
                            <img src="assets/images/docking-ports.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pm-body clearfix">
            <form class="pmbb-edit" name="AddDockingPort">
                <uib-tabset justified="true">
                    <uib-tab heading="Docking Port">
                        <div class="pmb-block">
                            <div class="pmbb-header m-t-15">
                                <h2><i class="zmdi zmdi-view-carousel m-r-10"></i>Docking Port Information</h2>
                            </div>

                            <div class="pmbb-body p-l-30">
                                <dl class="dl-horizontal required">
                                    <dt class="p-t-10">Station Name</dt>
                                    <dd>
                                        <div class="fg-line">
                                            <select chosen="form-control"
                                                    data-placeholder-text-single="'Select Station Name'"
                                                    ng-options="dockingStation as dockingStation.name for dockingStation in dockingStations"
                                                    ng-model="selectedStationName"
                                                    ng-change="selectStationName(selectedStationName)">
                                            </select>
                                        </div>
                                    </dd>
                                </dl>

                                <dl class="dl-horizontal required">
                                    <dt class="p-t-10">Unit Number</dt>
                                    <dd>
                                        <div class="fg-line">
                                            <select chosen class="form-control"
                                                    data-placeholder-text-single="'Select Unit Number'"
                                                    ng-options="dockingUnit as dockingUnit.unitNumber for dockingUnit in dockingUnits"
                                                    ng-model="selectStationName"
                                                    ng-change="selectedUnitNumber(selectStationName)">
                                            </select>
                                        </div>
                                    </dd>
                                </dl>

                                <dl class="dl-horizontal required">
                                    <dt class="p-t-10">Port Number</dt>
                                    <dd>
                                        <div class="fg-line"
                                             ng-class="{ 'has-error': AddDockingPort.portNumber.$touched && AddDockingPort.portNumber.$invalid }">
                                            <input type="text" name="portNumber" ng-model="dockingPort.portNumber"
                                                   class="form-control"
                                                   maxlength="1"
                                                   placeholder="eg. 1" required>
                                    <span class="help-block"
                                          ng-messages="AddDockingPort.portNumber.$error"
                                          ng-show="AddDockingPort.portNumber.$touched">
                                        <small ng-message="required">Docking Port Number is required</small>
                                    </span>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal required">
                                    <dt class="p-t-10">Model Type</dt>
                                    <dd>
                                        <div class="fg-line m-t-10">
                                            <label class="radio radio-inline m-r-20">
                                                <input type="radio" name="modelType" ng-model="dockingPort.modelType"
                                                       value="001">
                                                <i class="input-helper"></i>
                                                001
                                            </label>
                                            <label class="radio radio-inline m-r-20">
                                                <input type="radio" name="modelType" ng-model="dockingPort.modelType"
                                                       value="002">
                                                <i class="input-helper"></i>
                                                002
                                            </label>
                                            <label class="radio radio-inline m-r-20">
                                                <input type="radio" name="modelType" ng-model="dockingPort.modelType"
                                                       value="003">
                                                <i class="input-helper"></i>
                                                003
                                            </label>
                                        </div>
                                    </dd>
                                </dl>

                                <dl class="dl-horizontal required">
                                    <dt class="p-t-10">Port Position</dt>
                                    <dd>
                                        <div class="col-sm-6 p-r-10">
                                            <div class="fg-line"
                                                 ng-class="{ 'has-error': AddDockingPort.portPosition.$touched && AddDockingPort.portPosition.$invalid}">
                                                <input type="text" name="portPosition"
                                                       ng-model="dockingPort.portPosition"
                                                       class="form-control input-sm form-inline"
                                                       placeholder="eg. L1R3" required>
                                    <span class="help-block" ng-messages="AddDockingPort.portPosition.$error"
                                          ng-show="AddDockingPort.portPosition.$touched">
                                        <small ng-message="required">Docking Port Position is required.</small>
                                    </span>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </uib-tab>

                    <!--<uib-tab heading="Purchase Details">
                        <div class="pmb-block">
                            <div class="pmbb-header m-t-15">
                                <h2><i class="zmdi zmdi-assignment m-r-5"></i> Purchase Details</h2>
                            </div>
                            <div class="pmbb-body p-l-30">
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">Manufacturing Date</dt>
                                    <dd>
                                        <div class="fg-line">
                                            <input type="text" name="manufacturingDate"
                                                   ng-model="dockingPort.purchaseDetails.manufacturingDate"
                                                   ng-focus="manufacturingDate=true" ng-click="manufacturingDate=true"
                                                   uib-datepicker-popup="dd/MM/yyyy" is-open="manufacturingDate"
                                                   show-button-bar="true" class="form-control"
                                                   placeholder="eg. 16/09/2012">
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">Model Number</dt>
                                    <dd>
                                        <div class="fg-line">
                                            <input type="number" name="modelNumber"
                                                   ng-model="dockingPort.purchaseDetails.modelNumber"
                                                   class="form-control"
                                                   placeholder="eg. 423424">
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">Invoice Number</dt>
                                    <dd>
                                        <div class="fg-line">
                                            <input type="text" name="invoiceNumber"
                                                   ng-model="dockingPort.purchaseDetails.invoiceNumber"
                                                   class="form-control"
                                                   placeholder="eg. INV 232323">
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">Invoice Date</dt>
                                    <dd>
                                        <div class="fg-line">
                                            <input type="text" name="invoiceDate"
                                                   ng-model="dockingPort.purchaseDetails.invoiceDate"
                                                   ng-focus="invoiceDate=true" ng-click="invoiceDate=true"
                                                   uib-datepicker-popup="dd/MM/yyyy" is-open="invoiceDate"
                                                   show-button-bar="true" class="form-control"
                                                   placeholder="eg. 16/09/2012">
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">Received At</dt>
                                    <dd>
                                        <div class="fg-line">
                                            <input type="text" name="receivedAt"
                                                   ng-model="dockingPort.purchaseDetails.receivedAt"
                                                   ng-focus="receivedAt=true" ng-click="receivedAt=true"
                                                   uib-datepicker-popup="dd/MM/yyyy" is-open="receivedAt"
                                                   show-button-bar="true" class="form-control"
                                                   placeholder="eg. 16/09/2012">
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">Received By</dt>
                                    <dd>
                                        <div class="fg-line">
                                            <input type="text" name="receivedBy"
                                                   ng-model="dockingPort.purchaseDetails.receivedBy"
                                                   class="form-control"
                                                   placeholder="eg. Ashok">
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">Account</dt>
                                    <dd>
                                        <div class="fg-line">
                                            <input type="text" name="accIfAny"
                                                   ng-model="dockingPort.purchaseDetails.accIfAny"
                                                   class="form-control"
                                                   placeholder="eg. Account Info">
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">Comments</dt>
                                    <dd>
                                        <div class="fg-line p-t-10">
                                    <textarea type="text" name="comments"
                                              ng-model="dockingPort.purchaseDetails.comments"
                                              class="form-control"
                                              rows="4"
                                              placeholder="eg. ">
                                    </textarea>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </uib-tab>-->
                </uib-tabset>
            </form>
        </div>
    </div>

</div>