<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
</script>

<script>
    var acc = document.getElementsByClassName("accordion1");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }

</script>
<script>
    var acc = document.getElementsByClassName("accordion2");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
</script>
<script>
    var acc = document.getElementsByClassName("accordion3");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
</script>
<script>
    var acc = document.getElementsByClassName("accordion4");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
</script>
<script>
    var acc = document.getElementsByClassName("accordion5");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }

</script>
<style>
    .textbox {
        width: 20%;
        padding: 5px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    a.accordion {
        background-color: #cff5f7;
        color: #444;
        cursor: pointer;
     /*   padding: 15px 396px;*/
        padding: 15px 353px;
        width: 500%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 22px;
        transition: 0.4s;
    }

    a.accordion1 {
        background-color: #d6e9c6;
        color: #444;
        cursor: pointer;
        padding: 15px 386px;
        width: 500%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 22px;
        transition: 0.4s;
    }
    a.accordion2 {
        background-color: #faebcc;
        color: #444;
        cursor: pointer;
        padding: 15px 371px;
        width: 500%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 22px;
        transition: 0.4s;
    }
    a.accordion3 {
        background-color: #ebccd1;
        color: #444;
        cursor: pointer;
        padding: 15px 365px;
        width: 500%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 22px;
        transition: 0.4s;
    }
    a.accordion4 {
        background-color: #f4ce5d;
        color: #444;
        cursor: pointer;
        padding: 15px 427px;
        width: 500%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 22px;
        transition: 0.4s;
    }
    a.accordion5 {
        background-color: #d7ea75;
        color: #444;
        cursor: pointer;
        padding: 15px 410px;
        width: 500%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 22px;
        transition: 0.4s;
    }
    a.accordion.active, a.accordion:hover {
        /*background-color: #ddd;*/
    }
    a.accordion1.active, a.accordion1:hover {
        /*background-color: #ddd;*/
    }
    div.panel {
        padding: 0 15px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: 0.6s ease-in-out;
        opacity: 0;
        margin-top: 14px;
    }
    div.panel.show {
        opacity: 1;
        max-height: 450px;
    }
    div.panel1 {
        padding: 0 15px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: 0.6s ease-in-out;
        opacity: 0;
        margin-top: 14px;
    }
    div.panel1.show {
        opacity: 1;
        max-height: 450px;
    }
</style>

<div class="container">
    <div class="block-header">
        <b><h3>Key Performance Indicator</h3></b>
       <!-- <small>KPI</small>-->
        <br>

        <form class="pmbb-edit" name="KPI" novalidate>

        <div class="card" >
            <div class="card-header ch-alt m-b-20" style="background-color:#88afa8; color:#fff;" >
                <i class="fa fa-bell fa-fw"></i> <b>Key performance indicators for the month of September </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-icon-text btn-success waves-effect"> You are now at <strong>50 Points</strong></button>
            </div>
        </div>

        <div class="card" >
            <div class="card-header ch-alt m-b-20" style="background-color:white; color:black;" >
                <div class="card-body card-padding">
                    <div class="row">

               <!-- <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line"
                         ng-class="{ 'has-error': TotalCashReport.TotalCashFrom.$touched && TotalCashReport.TotalCashFrom.$invalid }" >
                        <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>From Date</label>
                        <input type="text" name="KpiFromDate" ng-model="fromDateKPI" ng-change="fromDateKPI" ng-focus="KpiFromDate=true" ng-click="KpiFromDate=true"
                               uib-datepicker-popup="dd/MM/yyyy" is-open="KpiFromDate" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                        <span class="help-block"
                              ng-messages="TotalCashReport.TotalCashFrom.$error"
                              ng-show="TotalCashReport.TotalCashFrom.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line"
                         ng-class="{ 'has-error': TotalCashReport.TotalCashTo.$touched && TotalCashReport.TotalCashTo.$invalid }" >
                        <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>To Date</label>
                        <input type="text" name="KpiToDate" ng-model="toDateKPI" ng-change="toDateKPI" ng-focus="KpiToDate=true" ng-click="KpiToDate=true"
                               uib-datepicker-popup="dd/MM/yyyy" is-open="KpiToDate" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                        <span class="help-block"
                              ng-messages="TotalCashReport.TotalCashTo.$error"
                              ng-show="TotalCashReport.TotalCashTo.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                    </div>
                </div>-->

                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line"
                                 ng-class="{ 'has-error': KPI.FromDate.$touched && KPI.FromDate.$invalid }" >
                                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>From Date</label>
                                <input type="text" name="FromDate" ng-model="details.fromdate" ng-change="fromDateKPI" ng-focus="FromDate=true" ng-click="FromDate=true"
                                       uib-datepicker-popup="dd/MM/yyyy" is-open="FromDate"   show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                                <span class="help-block"
                                      ng-messages="KPI.FromDate.$error"
                                      ng-show="KPI.FromDate.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                            </div>
                        </div>

                        <div class="col-sm-3 m-b-20">
                        <div class="form-group fg-line"
                             ng-class="{ 'has-error': KPI.ToDate.$touched && KPI.ToDate.$invalid }" >
                            <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>To Date</label>
                            <input type="text" name="ToDate" ng-model="details.todate" ng-change="toDateKPI" ng-focus="ToDate=true" ng-click="ToDate=true"
                                   uib-datepicker-popup="dd/MM/yyyy" is-open="ToDate" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                            <span class="help-block"
                                  ng-messages="KPI.ToDate.$error"
                                  ng-show="KPI.ToDate.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                        </div>
                    </div>

                        <!--<div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line">
                                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Station Status</label>
                                <select chosen class="form-control" ng-model="details.stationState"
                                        data-placeholder-text-single="'Select'"
                                        name="stationStatus">
                                    <option value="0">All</option>
                                    <option value="1">Full</option>
                                    <option value="2">Empty</option>
                                </select>
                            </div>
                        </div>-->

                       <!-- <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line">
                                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Greater Than (Duration)</label>
                                <input type="text" name="Duration" ng-model="details.duration"
                                       class="form-control"
                                       placeholder="eg. 30 minutes">
                            </div>
                        </div>-->


                        <button type="button" class="btn btn-icon-text btn-success waves-effect"
                                ng-click="GetDetails()" ng-disabled="KPI.$invalid">
                            <i class="zmdi zmdi-save"></i> Get Details
                        </button>

                        <!--<div>
                      <p ng-model="RVDetails.percentage"></p>
                            <b><span ng-bind="RVDetails.percentage"></span> &nbsp;&nbsp;&nbsp;&nbsp; <span ng-bind="RVDetails.points"></span></b>
                        </div>-->

                </div>
            </div>

              <!--  <dl class="dl-horizontal required">
                    <dt class="p-t-10">From</dt>
                    <dd>
                        <div class="fg-line">
                            <input type="text" name="KpiFromDate" ng-model="fromDateKPI" ng-change="fromDateKPI" ng-focus="KpiFromDate=true" ng-click="KpiFromDate=true"
                                   uib-datepicker-popup="dd/MM/yyyy" is-open="KpiFromDate" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal required">
                    <dt class="p-t-10">To</dt>
                    <dd>
                        <div class="fg-line">
                            <input type="text" name="KpiToDate" ng-model="toDateKPI" ng-change="toDateKPI" ng-focus="KpiToDate=true" ng-click="KpiToDate=true"
                                   uib-datepicker-popup="dd/MM/yyyy" is-open="KpiToDate" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                        </div>
                    </dd>
                </dl>
                <br>

                <button type="button" class="btn btn-icon-text btn-success waves-effect"
                        ng-click="sendKpiDetails()" ng-disabled="KPI.$invalid">
                    <i class="zmdi zmdi-save"></i> Get Details
                </button>-->


                </form>
            </div>
        </div>

<a class="accordion5"><b>Quaterly Report</b></a>
<div class="panel">
    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-3 m-b-20">
                <div class="form-group fg-line"
                     ng-class="{ 'has-error': TotalCashReport.TotalCashFrom.$touched && TotalCashReport.TotalCashFrom.$invalid }" >
                    <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>From Date</label>
                    <input type="text" name="KpiFromDate" ng-model="kpiDetails.fromDateKPI" ng-change="fromDateKPI" ng-focus="KpiFromDate=true" ng-click="KpiFromDate=true"
                           uib-datepicker-popup="dd/MM/yyyy" is-open="KpiFromDate" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                    <span class="help-block"
                          ng-messages="TotalCashReport.TotalCashFrom.$error"
                          ng-show="TotalCashReport.TotalCashFrom.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                </div>
            </div>

            <div class="col-sm-3 m-b-20">
                <div class="form-group fg-line"
                     ng-class="{ 'has-error': TotalCashReport.TotalCashTo.$touched && TotalCashReport.TotalCashTo.$invalid }" >
                    <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>To Date</label>
                    <input type="text" name="KpiToDate" ng-model="kpiDetails.toDateKPI" ng-change="toDateKPI" ng-focus="KpiToDate=true" ng-click="KpiToDate=true"
                           uib-datepicker-popup="dd/MM/yyyy" is-open="KpiToDate" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" required >
                    <span class="help-block"
                          ng-messages="TotalCashReport.TotalCashTo.$error"
                          ng-show="TotalCashReport.TotalCashTo.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                </div>
            </div>
           <!-- <div class="col-sm-3 m-b-20">
                <div class="form-group fg-line">
                    <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Station State</label>
                    <select chosen name="status" ng-model="kpiDetails.stationState" placeholder-text-single="'Select Status'"
                            class="form-control w-100" required>
                        <option ng-value="0">Full</option>
                        <option ng-value="1">Empty</option>
                    </select>
                </div>
            </div>-->
          <!--  <div class="col-sm-3 m-b-20">
                <div class="form-group fg-line">
                    <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Grethan Than</label>
                    <input type="text" name="Duration" ng-model="kpiDetails.duration"
                           class="form-control"
                           placeholder="eg. 30 minutes" required>
                </div>
            </div>-->
            <button type="button" class="btn btn-icon-text btn-success waves-effect"
                    ng-click="sendKpiDetails()" ng-disabled="KPI.$invalid">
                <i class="zmdi zmdi-save"></i> Get Details
            </button>
        </div>
    </div>
</div>


<a class="accordion"><b>Customer Service Indicator</b></a>
        <div class="panel">
            <br>
            <table class="table table-bordered table-hover table-striped table-responsive">
                <thead>

                </thead>
                <thead>
                <tr class="success">

                    <th> Customer Service Indicator </th>
                    <th>Level</th>
                    <th>Points Earned</th>
                    <th><!--<a href="customer-service-indicator.html"  class="btn btn-sm btn-default"> View Details</a>--> </th>

                </tr>
                </thead>
                <tbody>
                <tr>

                    <td>No. of valid customer complaints (received via website)
                    </td>
                    <td>10 per month</td>
                    <td> 10 points </td>
                    <td>
                        <!--Modal0-->
                        <!--<span class="glyphicon glyphicon-question-sign"" data-toggle="modal" data-target="#myModal""></span>-->


                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">View Points</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group ">
                                            <li class="list-group-item info">0-5= 10 points</li>
                                            <li class="list-group-item">5-10= 5 points</li>
                                            <li class="list-group-item">10 - 15= -5 points</li>
                                            <li class="list-group-item">16 or higher = -10 points</li>
                                        </ul>



                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!---/Modal-->


                    </td>
                </tr>
                <tr>

                    <td>Percent of time website is online / working per month</td>

                    <td>95%</td>
                    <td> 5  points  </td>
                    <td><!--Modal1-->
                      <!--  <span class="glyphicon glyphicon-question-sign"" data-toggle="modal" data-target="#myModal1""></span>-->


                        <div class="modal fade" id="myModal1" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">View Points</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">95-98% = 5  points</li>
                                            <li class="list-group-item">98-100% = 10 points</li>
                                            <li class="list-group-item">90-95% = -5 Points</li>
                                            <li class="list-group-item">Below 90% = -10 Points

                                        </ul>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!---/Modal1--></td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
        <!-- </div>
     </div>-->


        <!--IT System Indicators (start)-->
<a class="accordion1"><b>IT System Indicators</b></a>
        <div class="panel">
            <br>
        <table class="table table-bordered table-hover table-striped table-responsive">
            <thead>
            <tr class="success">
                <th>IT System Indicators </th>
                <th> Level</th>
                <th>Points</th><th><!--<a href="it-system-indicator.html"  class="btn btn-sm btn-default"> View Details</a>--></th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td>Smart card performance at the dock (taking out a cycle from docking station)</td>

                <td><span ng-bind="SmartCardInfo.value"></span></td>
                <td><span ng-bind="SmartCardInfo.points"></span></td>
<td>

                <!--Modal2-->
                <!--<span class="glyphicon glyphicon-question-sign"" data-toggle="modal" data-target="#myModal2""></span>-->


                <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">View Points</h4>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group ">
                                    <li class="list-group-item ">99-100% = 10 Points</li>
                                    <li class="list-group-item">Below 99% = -10 Points</li>
                                </ul>



                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!---/Modal2-->



            </td>



            </tr>
            <tr>

                <td>Smart Card performance at kiosks. </td>

                <td><span ng-bind="SmartCardKiosk.kiosk_value"></span></td>
                <td><span ng-bind="SmartCardKiosk.kiosk_point"></span></td>


                <td>
                    <!--Modal3-->
                    <!--<span class="glyphicon glyphicon-question-sign"" data-toggle="modal" data-target="#myModal3""></span>-->


                    <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">View Points</h4>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-group ">
                                        <li class="list-group-item ">99-100% = 10 Points</li>
                                        <li class="list-group-item">Below 99% = -10 Points</li>
                                    </ul>



                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!---/Modal3-->



                </td>


            </tr>
            <tr>
                <td>Payment processing
                    (for recharge when debit/ credit card is used)</td>

                <td>Same Day</td>
                <td>10 points</td>
                <td>
                    <!--Modal4-->
                    <!--<span class="glyphicon glyphicon-question-sign"" data-toggle="modal" data-target="#myModal4""></span>-->


                    <div class="modal fade" id="myModal4" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">View Points</h4>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-group ">
                                        <li class="list-group-item ">99-100% = 10 Points</li>
                                        <li class="list-group-item">Below 99% = -10 Points</li>
                                    </ul>



                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!---/Modal4-->

                </td>

            </tr>

            </tbody>
        </table>
            <br>
        </div>
        <!--IT System Indicators (end)-->


        <!--Maintenence Indicators (start)-->
<a class="accordion2"><b>Maintenence Indicators</b></a>
        <div class="panel">
            <br>
            <table class="table table-bordered table-hover table-striped table-responsive">
                <!--<div class="table">--><!--table3-->
                <!--<table class="table table-bordered table-hover table-striped">-->
                <thead>
                <tr class="warning">
                    <th>Maintenance Indicator  </th>
                    <th>Level</th>
                    <th>Points</th><th><!--<a href="maintenence-indicator.html"  class="btn btn-sm btn-default"> View Details</a>--></th>
                </tr>
                </thead>

                <tr>
                    <td>Bicycle station is cleaned once</td>
                    <td><span ng-bind="KPIStationClean.CleanValue"></span></td>
                    <td><span ng-bind="KPIStationClean.CleanPoints"></span></td>
                    <td>
                        <!--Modal5-->
                    <!--    <span class="glyphicon glyphicon-question-sign"" data-toggle="modal" data-target="#myModal5""></span>-->


                        <div class="modal fade" id="myModal5" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">View Points</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group ">
                                            <li class="list-group-item info">Every 2 days = 5 points</li>
                                            <li class="list-group-item">Everyday= 10 points</li>
                                            <li class="list-group-item">Every 4 days=  -5 points</li>
                                            <li class="list-group-item">Greater than 5 days = -10 points</li>
                                        </ul>



                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!---/Modal5-->
                    </td>

                </tr>
                <tr> <!--<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal6">Ref.Table</button>-->
                    <td>Percentage of cycle repaired within 4 hours of being flagged for repair by a customer
                    </td>
                    <td>95%</td>
                    <td>5 Points</td>
                    <td>
                        <!--Modal6-->

                       <!-- <span class="glyphicon glyphicon-question-sign"" data-toggle="modal" data-target="#myModal6""></span>-->

                        <div class="modal fade" id="myModal6" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">View Points</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group ">
                                            <li class="list-group-item list-group-item-success">95-98% = 5  points</li>
                                            <li class="list-group-item">Above 98% = 10  points</li>
                                            <li class="list-group-item">90-95% = -5 points</li>
                                            <li class="list-group-item">Below 90% = -10 points</li>

                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!---/Modal6-->
                    </td>
                </tr>

                <tr>
                    <td>Minimum percentage of total cycle fleet available at 6a.m </td>
                    <td><span ng-bind="bicycleFleet.bicycleFleetValue"></span></td>
                    <td><span ng-bind="bicycleFleet.bicycleFleetPoints"></span></td>
                    <td>
                        <!--Modal5-->
                       <!-- <span class="glyphicon glyphicon-question-sign"" data-toggle="modal" data-target="#myModa51""></span>-->


                        <div class="modal fade" id="myModa51" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">View Points</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group ">
                                            <li class="list-group-item info">Every 2 days = 5 points</li>
                                            <li class="list-group-item">Everyday= 10 points</li>
                                            <li class="list-group-item">Every 4 days=  -5 points</li>
                                            <li class="list-group-item">Greater than 5 days = -10 points</li>
                                        </ul>



                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!---/Modal5-->
                    </td>

                </tr>
            </table>
            <br>
        </div>
        <!--Maintenence Indicators (start)-->

        <!--Redistribution Indicators (start)-->
<a class="accordion3"><b>Redistribution Indicators</b></a>
        <div class="panel">
            <br>
            <table class="table table-bordered table-hover table-striped table-responsive">
                <!--<div class="table">--><!--table-redistribution-->
                <!--<table class="table table-bordered table-stripped table-hover">-->
                <thead>
                <tr class="success">
                    <th>Redistribution Indicators </th>
                    <th>Level</th>
                    <th>Points</th><th></th>
                </tr>
                <tr>
                    <td>Percentage of time that major docking station are empty during peak hour (8a.m-11a.m & 4p.m-7p.m)</td>
                    <td><span ng-bind="RVDetails.percentage_total_major_empty"></span></td>
                    <td><span ng-bind="RVDetails.points_total_major_empty"></span> </td><td>
                    <!--Modal7-->
                   <!-- <span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal7"></span>-->
                   <!-- <a class="btn btn-sm btn-default" ng-click="press">View Details</a>-->
                   <!-- <button type="button" class="btn btn-icon-text btn-info waves-effect m-r-5" ng-click="press()">
                        <i class="zmdi zmdi-card-membership"></i> View Details
                    </button>-->

                    <div class="modal fade" id="myModal7" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">View Points</h4>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-group ">
                                        <li class="list-group-item info">3-5% = 5 points</li>
                                        <li class="list-group-item">Below 3 % = 10 points</li>
                                        <li class="list-group-item">5-8% = -5 points</li>
                                        <li class="list-group-item">Above 8% = -10 points</li>

                                    </ul>



                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!---/Modal7-->
                </td>
                </tr>
                <tr>
                    <td>Percentage of time that major docking station are empty during off-peak hour</td>
                    <td><span ng-bind="RVDetails.percentage_total_major_empty_offpeek"></span></td>
                    <td><span ng-bind="RVDetails.points_total_major_empty_offpeek"></span> </td><td>
                    <!--Modal8-->
                   <!-- <span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal8"></span>-->
                  <!--  <a href="redistribution-indicator.html"  class="btn btn-sm btn-default">View Details</a>-->

                    <div class="modal fade" id="myModal8" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">View Points</h4>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-group ">
                                        <li class="list-group-item info">2-3% = 5  points</li>
                                        <li class="list-group-item">Below 2% = 10 points</li>
                                        <li class="list-group-item"> 3-5% = -5 points</li>
                                        <li class="list-group-item">Above 5% = - 10 points</li>

                                    </ul>



                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!---/Modal8-->

                </td>
                </tr>
                <tr>
                    <td>Percentage of time that minor docking station are empty during peak hour (8a.m-11a.m and 4p.m-7p.m)</td>
                    <td><span ng-bind="RVDetails.percentage_total_minor_empty"></span></td>
                    <td><span ng-bind="RVDetails.points_total_minor_empty"></span></td>
                    <td>
                        <!--Modal9-->
                        <!--<span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal9"></span>-->
                       <!-- <a href="redistribution-indicator.html"  class="btn btn-sm btn-default">View Details</a>-->

                        <div class="modal fade" id="myModal9" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">View Points</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group ">
                                            <li class="list-group-item info">10-20%= 5  points</li>
                                            <li class="list-group-item">Below 10 % = 10  points</li>
                                            <li class="list-group-item">20-25% = -5 points</li>
                                            <li class="list-group-item">Above 25% = - 10 points</li>

                                        </ul>



                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!---/Modal9-->

                    </td>
                </tr>
                <tr>
                    <td>Percentage of time minor docking stations are empty during off peak hours</td>
                    <td><span ng-bind="RVDetails.percentage_total_minor_empty_offpeek"></span></td>
                    <td><span ng-bind="RVDetails.points_total_minor_empty_offpeek"></span></td>

                    <td>
                        <!--Modal10-->
                       <!-- <span class="glyphicon glyphicon-question-sign"" data-toggle="modal" data-target="#myModal10""></span>-->
                      <!--  <a href="redistribution-indicator.html"  class="btn btn-sm btn-default">View Details</a>-->

                        <div class="modal fade" id="myModal10" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">View Points</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group ">
                                            <li class="list-group-item info">5-8%= 5 points</li>
                                            <li class="list-group-item">Below 5% = 10 points</li>
                                            <li class="list-group-item">8-10% = -5 points</li>
                                            <li class="list-group-item">Above 10 = - 10 points</li>

                                        </ul>



                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!---/Modal10-->
                    </td>
                </tr>

                <tr>
                    <td>Stations are neither full nor empty for a period of longer than two hours </td>
                    <td><span ng-bind="RVDetails.percentage"></span></td>
                    <td><span ng-bind="RVDetails.points"></span></td><td>
                    <!--Modal12-->
                   <!-- <span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal12"></span>-->
                    <!--<a href="redistribution-indicator.html"  class="btn btn-sm btn-default">View Details</a>-->

                    <div class="modal fade" id="myModal12" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">View Points</h4>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-group ">
                                        <li class="list-group-item info">(95-98)%= 5  points</li>
                                        <li class="list-group-item">Above 98 %= 10  points</li>
                                        <li class="list-group-item">90-95% = -5 points</li>
                                        <li class="list-group-item">Less than 90 = -10 points</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!---/Modal12-->

                </td>

                </tr>
            </table>
            <br>
        </div>
        <!--Redistribution Indicators (end)-->

        <!--Cycle Usage (start)-->
<a class="accordion4"><b>Cycle Usage</b></a>
        <div class="panel">
            <br>
        <table class="table table-bordered table-hover table-striped table-responsive">
            <thead>
            <tr class="success">
                <th>Cycle Usage </th>
                <th>Level</th>
                <th>Points</th><th><!--<a href="cycle-usage.html"  class="btn btn-sm btn-default"> View Details</a>--></th>
            </tr>
            <tr>
                <td>Average cycle use per cycle /day1(1st & 2nd Year) </td>
                <td><span ng-bind="CycleTrips.trip_value"></span></td>
                <td><span ng-bind="CycleTrips.trip_points"></span></td><td>

                <!--Modal13-->
              <!--  <span class="glyphicon glyphicon-question-sign"" data-toggle="modal" data-target="#myModal13""></span>-->

                <div class="modal fade" id="myModal13" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">View Points</h4>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group ">
                                    <li class="list-group-item info">&ge;3trips = 10 points</li>
                                    <li class="list-group-item">&lt;3 trips  = -10 points</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!---/Modal13-->
            </td>
            </tr>
        </table>
            <br>
        </div>
        <!--Cycle Usage (end)-->

    </div>
</div>

<script type="text/ng-template" id="details.html">
    <form name="smartCard" novalidate>
        <div class="modal-header">
            <h4 class="modal-title">Enter Details</h4>
        </div>
        <div class="modal-body">

            <dl class="dl-horizontal required">
                <dt class="p-t-10">From Date</dt>
                <dd>
                    <div class="fg-line">
                        <input type="text" name="FromDate" ng-model="details.fromdate"
                               ng-focus="FromDate=true" ng-click="FromDate=true"
                               uib-datepicker-popup="dd/MM/yyyy" is-open="FromDate"
                               show-button-bar="true" class="form-control"
                               placeholder="eg. 16/09/2012" required>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal required">
                <dt class="p-t-10">To Date</dt>
                <dd>
                    <div class="fg-line">
                        <input type="text" name="ToDate" ng-model="details.todate"
                               ng-focus="ToDate=true" ng-click="ToDate=true"
                               uib-datepicker-popup="dd/MM/yyyy" is-open="ToDate"
                               show-button-bar="true" class="form-control"
                               placeholder="eg. 16/09/2012" required>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10 p-l-30">Station Status</dt>
                <dd>
                    <div class="fg-line">
                        <select chosen class="form-control" ng-model="details.stationStatus"
                                data-placeholder-text-single="'Select Credit Type'"
                                name="stationStatus">
                            <option value="1">Full</option>
                            <option value="2">Empty</option>
                        </select>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10 p-l-30">Greater than</dt>
                <dd>
                    <div class="fg-line">
                        <input type="text" name="Duration" ng-model="details.duration"
                               class="form-control"
                               placeholder="eg. 30 minutes">
                    </div>
                </dd>
            </dl>

        </div>
        <div class="modal-footer">
            <button class="btn btn-link" type="button" ng-click="cancelView()">Cancel</button>
            <button class="btn btn-link" type="button" ng-click="GetDetails()">Ok</button>
        </div>
    </form>
</script>


<!--<div class="card" id="profile-main">
    <div class="pm-overview c-overflow">

    </div>
</div>-->


