<div class="container">
    <div class="block-header">
        <h2>Edit FLEETS
            <small>Add all required details with fields marked as * are
                mandatory
            </small>
        </h2>
        <div class="actions m-t-10">
            <button type="button" class="btn btn-icon-text btn-default waves-effect m-r-5"
                    ng-click="cancelUpdateFleets();">
                <i class="zmdi zmdi-arrow-left"></i> Back to List
            </button>
            <button type="button" class="btn btn-icon-text btn-success waves-effect"
                    ng-click="SaveFleetDetails();" ng-disabled="EditFleets.$invalid">
                <i class="zmdi zmdi-save"></i> Update
            </button>
        </div>
    </div>

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <div class="fileinput fileinput-new">
                        <div class="fileinput-preview thumbnail">
                            <img src="assets/images/no-maps.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pm-body clearfix">
            <form class="pmbb-edit" name="EditFleets">
                <div class="pmb-block">
                    <div class="pmbb-header m-t-15">
                        <h2><i class="zmdi zmdi-collection-item m-r-10"></i>Fleets Information</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Fleet Name</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': EditFleets.fleetName.$touched && EditFleets.fleetName.$invalid }">
                                    <input type="text" name="fleetName" ng-model="fleetDetails.Name"
                                           class="form-control"
                                           placeholder="eg. Chamundi Hills" required>
                                    <span class="help-block"
                                          ng-messages="EditFleets.fleetName.$error"
                                          ng-show="EditFleets.fleetName.$touched">
                                                <small ng-message="required">Fleet Name is required</small>
                                            </span>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Fleet Stations</dt>
                            <dd>
                                <div class="fg-line">
                                    <select chosen class="form-control"
                                            data-placeholder-text-single="'SELECT THE OPTIONS'"
                                            ng-options="FleetStation as FleetStation.name for FleetStation in FleetStations"
                                            ng-model="name"
                                            ng-change="selectedFleetStation(name)" required>
                                        <option value="0">SELECT THE OPTIONS</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Fleet Capacity</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="number" name="capacity" ng-model="fleetDetails.portCapacity"
                                           class="form-control"
                                           placeholder="eg. 100">
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>